@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: transparent !important;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  background: transparent !important;
} 